.top-container {
  background-image: url("/images/top.jpg");
  margin-left: calc( ( 100% - 100vw ) / 2 );
  margin-right: calc( ( 100% - 100vw ) / 2 );
  margin-top: calc( ( 100% - 100vw ) / 2 );
  width: 100vw;
  height: 250px;
  background-size: cover;
}

.lineadd {
  width:10em;
  margin:0 auto;
}

.background-color {
  background-color: rgb(225, 211, 207);
  margin-left: calc( ( 100% - 100vw ) / 2 );
  margin-right: calc( ( 100% - 100vw ) / 2 );
  margin-top: calc( ( 100% - 100vw ) / 2 );
  width: 100vw;
  font-weight: 900;
}